<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit User</h1>
    <div class="col-6 offset-3">
        <form action="/admin/users/<%= user._id %>?_method=PUT" method="post" class="validated-form" novalidate>
            <div class="mb-3">
                <h5>Name: <%= user.name %> </h5>
            </div>
            <div class="mb-3">
                <h5>Email: <%= user.email %> </h5>
            </div>
            <div class="mb-3">
                <label class="form-label" for="userType">User Type:</label>
                <select class="form-select" name="userType" id="userType">
                    <option value="" selected>--Select--</option>
                    <option value="admin">Admin</option>
                    <option value="doctor">Doctor</option>
                    <option value="client">Client</option>
                </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Update User</button>
                <a class="btn btn-info" href="/admin/users/<%= user._id %>">Back</a>
            </div>
        </form>
    </div>
</div>