<% layout('layouts/boilerplate') %>
<h1>All '<%= userType %>' type users:</h1>
<% for(let user of users){ %> 
<div class="card mb-3">
    <div class="row">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= user.email %></h5>
                <a class="btn btn-info" href="/admin/users/<%=user._id%>">View</a>
            </div>
        </div>
    </div>
</div>
<% } %> 