
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DocAppoint</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <% if(currentUser){ %>
        <div class="navbar-nav">
          <% if(currentUser.userType == 'client'){ %> 
          <a class="nav-link" href="/client">All Appointments</a>
          <a class="nav-link" href="/client/new">New Appointment</a>
          <% } %>
          <% if(currentUser.userType == 'doctor'){ %>
            <a class="nav-link" href="/doctor">Today's Appointments</a>
            <a class="nav-link" href="/doctor/all">All Appointments</a>
            <% } %> 
          <% if(currentUser.userType == 'admin'){ %>
          <a class="nav-link" href="/admin">All Users</a>
          <a class="nav-link" href="/admin/register">Add User</a>
          <% } %> 
        </div>
        <% } %> 
        <div class="navbar-nav ms-auto">
          <% if(!currentUser){ %> 
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
          <% } else{ %> 
          <a class="nav-link" href="/logout">Logout</a>
          <% } %> 
        </div>
      </div>
    </div>
</nav>
