<% layout('layouts/boilerplate') %>
<div class="col-6 offset-3">
    <h2>Forgot Password?</h2>
    <form action="/forgot/<%=id%> " method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="OTP">Enter the 6 digit One Time Password delivered to your registered email address:</label>
            <input class="form-control" type="number" id = "OTP" name = "OTP" required>
        </div>
        <button class="btn btn-success">Continue</button>
    </form>
</div>