<% layout('clients/layouts/boilerplate') %>
<div class="col-6 offset-3">
    <h1>Register</h1>
    <form action="/register" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id = "name" name = "name" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id = "email" name = "email" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id = "password" name = "password" onkeyup="check();" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="confirm-password">Confirm Password</label>
            <input class="form-control" type="password" id = "confirm-password" name = "confirm-password" onkeyup="check();" required>
            <span id="message"></span>
        </div>
        <button class="btn btn-success">Register</button>
    </form>
</div>